.coin-container {
    margin-right: 200px;
    margin-left: 200px;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    height: 60px;

}

.coin {
    display: flex;

}
.coin-red {
    color: red;
}

.coin-green {
    color: green;
}